/* article > p {
  font-size: large;
  font-style: italic;
  color: red;
} */

/* .first {
  font-size: large;
  font-style: italic;
  color: red;
} OR THE FOLLOWING USING PSEUDO CLASS SELECTOR => THEY ARE NOT REAL CLASSES THAT WE DEFINE, RATHER, THEY ARE THE CLASSES THAT ARE APPLIED BY THE BROWSER BY DEFAULT!*/
/* using Pseudo element => article :first-child to select the first paragraph between two paragraphs  - INSTEAD OF CLASS SELECTOR WE HAVE PSEUDO CLASS SELECTOR BELOW:*/
/* article :first-child {
  font-size: large;
  font-style: italic;
  color: red;
} OR the FOLLOWING*/

/* article :nth-child(1) {
  font-size: large;
  font-style: italic;
  color: green;
} */

/* OR THE FOLLOWING ONLY APPLIES ON THE FIRST ITEM FROM THE SMAE TYPE, FOR EXAMPLE ONLY ON THE FIRST PARAGRAPH WHEN ALL OF THEM ARE PARAGRAPHS, OR ONLY ON THE FIRST HEADING WHEN ALL OF THEM ARE HEADING! */
/* article :first-of-type {
  font-size: large;
  font-style: italic;
  color: red;
} */

/* applies only to the first paragraph and not first heading anymore, because we mentioned here p which is only for paragraphs! */
/* article p:first-of-type {
  font-size: large;
  font-style: italic;
  color: red;
} */

/* last item for every type would be red! => it means the last heading and the last paragraph! */
/* article :last-of-type {
  font-size: large;
  font-style: italic;
  color: red;
} */

/* only last item of paragraph would be red, because we mentioned here only p and the heading would not be there! */
/* article p:last-of-type {
  font-size: large;
  font-style: italic;
  color: red;
} OR THE FOLLOWING WHICH GIVES US EXACTLY THE SAME RESULT => because this paragraph is the last child too! */

/* BUT THE PROBLEM IS THAT THE LAST CHILD AND THE FIRST CHILD ARE FRAGILE, BECAUSE WHEN WE ADD A NEW ITEM AT THE TOP OR AT THE BOTTOM, THE ORDER WILL CHANGE AND WE WILL NOT GET THE SAME RESULT AS BEFORE! => As you see the following doesn't work exactly as above and we have to remove the p and then it will work!*/
/* article p:last-child {
  font-size: large;
  font-style: italic;
  color: red;
} */

/* When I remove the p, it will work and shows me the correct answer -  With p, it will not show me the correct answer and it will show me the false answer! */
/* article :last-child {
  font-size: large;
  font-style: italic;
  color: red;
} */

/* WE WANT TO HIGHLIGHT ONLY ALL THE ODD ITEMS */
ul li:nth-child(odd) {
  color: orange;
}
